# ICE CREAM SALES
# TASK:
Identify **strong** (i.e., correlation coefficient > |0.7|) and **meaningful** relationships among pairs of columns in this dataset, which contains the ice cream sales, temperature, number of deaths by drowning and humidity level in a city during a timespan of 12 months.

In [1]:
# Run the following to import necessary packages and import dataset. Do not use any additional plotting libraries.
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
matplotlib.style.use('ggplot')

d1 = "SC_problem-solving-task_dataset.csv"
df = pd.read_csv(d1)
df

    ice_cream_sales  temperature  deaths_drowning  humidity
0              4.82           55                4        70
1              4.83           58                4        70
2              4.84           60                5        20
3              4.93           75                8        50
4              4.91           68                9        20
5              4.94           83               12        90
6              4.93           80               11        10
7              4.95           88               11        50
8              4.92           70                9        10
9              4.88           55                6        30
10             4.78           50                3        20
11             4.75           40                2        30

# CLUE:
**Pandas has a handy function to generate correlation table: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.corr.html** If this clue changes your answer and reasoning from the first attempt, try again below. Otherwise, if you are confident in your answer from your first attempt, leave the following untouched.

In [ ]:
# meaningful_relationships.append(['column_x', 'column_y'])
relationships_revised = []
relationships_reasoning_revised = "The same as what I did. No changes."

# do not touch
relationships_revised.sort()
print(relationships_revised)

In [2]:
#If you need to implement any piece of code before finalizing your answer and reasoning, use this space. Don't erase your code segment from the workbook. 
#In case you need any help with syntax, documentation file for the:
#a) pandas library - https://pandas.pydata.org/pandas-docs/stable/
#b) numpy library  - https://docs.scipy.org/doc/numpy/user/index.html
#c) matplotlib library - https://matplotlib.org/contents.html
# DO NOT USE GOOGLE SEARCH!!!
df.corr()

                 ice_cream_sales  temperature  deaths_drowning  humidity
ice_cream_sales         1.000000     0.937996         0.952490  0.083232
temperature             0.937996     1.000000         0.950942  0.191497
deaths_drowning         0.952490     0.950942         1.000000  0.080003
humidity                0.083232     0.191497         0.080003  1.000000